<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!--<register type=" abacanet.diamond.domain.repository.interfaces.IRepositorio,ABACANET-Diamond" mapTo="abacanet.diamond.domain.repository.ModelRepository,ABACANET-Diamond"  />-->
    </container>
  </unity>
</configuration>