<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <connectionStrings>
    <add name="RepositorioEntityFramework"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LocalTeste;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!--<register type="SGA.Repositorio.IRepositorio,SGA" mapTo="SGA.Repositorio.RepositorioEntityFramework,SGA"  />-->
    </container>
  </unity>

</configuration>