<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
<connectionStrings>
    <!-- CONEXÃO PADRÃO -->
    <!--<add name="ConnectionMongo" connectionString="mongodb://localhost" />-->

    <!-- CONEXÃO PADRÃO COM USUÁRIO E SENHA -->
    <!--<add name="ConnectionMongo" connectionString=" mongodb://username:password@myserver/databaseName" />-->
 
    <add name="ConnectionMongo" connectionString="mongodb://teste:teste@localhost/Teste" />
  
</connectionStrings>
  <appSettings>
    <!-- MONGODB -->
    <add key="DataBaseName" value="Teste" />
  </appSettings>    
</configuration>
